components/model-4b-it-q4-0-gguf/gemma-3-4b-it-q4_0.gguf filter=lfs diff=lfs merge=lfs -text
components/mmproj-f16-4b-gguf/mmproj-model-f16-4B.gguf filter=lfs diff=lfs merge=lfs -text
components/model-270m-it-q4-0-gguf/gemma-3-270m-it-Q4_0.gguf filter=lfs diff=lfs merge=lfs -text
