name: Build main branch

on:
  push:
    branches: [ main ] # Update if this is a feature branch

jobs:
  build-and-publish:
    uses: canonical/inference-snaps-dev/.github/workflows/build-publish-snap.yaml@main
    with:
      init-build-script: 'prepare-models.sh'
      # Use the commit that triggered the workflow
      build-sha: ${{ github.sha }}
      # main branch gets published to latest/edge
      publish-channel: 'latest/edge' # Add track if needed, e.g., 24/latest/edge
    secrets:
      store-credentials: ${{ secrets.STORE_LOGIN }}
